.about {
  padding-top: 114px;
  > div,
  footer {
    position: relative;
  }

  .about-us {
    margin: 136px 0 180px 0;
    width: 100%;

    @include med-laptops {
      margin: 50px 0 100px 0;
    }

    .about-us-text {
      padding: 20px;
      p {
        font-size: 1rem;
        @include med-laptops {
          font-size: 14px;
        }
      }
    }

    .about-image {
      height: 300px;
    }
  }

  .about-service {
    display: flex;
    flex-direction: column;
    align-items: center;

    .gold-title {
      margin-bottom: 5px;
      font-size: 1.5rem;
      @include med-laptops {
        font-size: 1rem;
      }
    }
    .sub-title {
      margin-bottom: 30px;
    }
    .serviceList {
      .products {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        grid-gap: 2rem;

        @include tablets {
          grid-template-columns: repeat(3, minmax(0, 1fr));
        }
        > div {
          display: flex;
          flex-direction: column;
          &:last-child {
            display: none;
          }
          .product-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 15px;
            > h5 {
              font-size: 16px;
              line-height: normal;
              margin-top: 15px;
              height: 32px;
              @include med-laptops {
                font-size: 12px;
              }
            }
            .serviceIcon {
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              width: 70px;
              height: 70px;
              border: 1px solid #00498e;
              > img {
                max-width: 45px;
                height: 45px;
              }
            }
          }
          .product-desc {
            ul {
              li {
                list-style: disc;
                margin: 0;
                line-height: 1.5;
                @include med-laptops {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }

  .timeline {
    padding: 4rem 0 8rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 94.1%, 0.6);
    margin-top: 100px;
    .sub-title {
      margin-bottom: 3rem;
      font-size: 3rem;
      font-weight: 400;
      text-align: center;
      @include med-laptops {
        font-size: 2rem;
      }
    }
    .slider-time {
      position: relative;
      &:before {
        content: "-";
        right: 0;
        left: 0;
        height: 1px;
        top: 50%;
        position: absolute;
        background-color: #707070;
      }
      width: 100%;
      .slick-slide {
        &:nth-child(even) {
          > div {
            .time {
              flex-direction: column-reverse;
              .content {
                border-top: 1px solid #bbb;

                &::after {
                  content: "";
                  background-image: url("/images/timeline-arrow.png");
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: center;
                  height: 172.19px;
                  display: inline-block;
                  transform: rotate(180deg);
                  position: absolute;
                  bottom: calc(50% - 30px);
                  left: 0;
                  width: 100%;
                }
              }
            }
          }
        }
        &:nth-child(odd) {
          > div {
            .time {
              .content {
                border-bottom: 1px solid #bbb;
                &::before {
                  content: "";
                  background-image: url("/images/timeline-arrow.png");
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: center;
                  height: 172.19px;
                  display: inline-block;
                  position: absolute;
                  top: calc(50% - 30px);
                  left: 0;
                  width: 100%;
                }
              }
            }
          }
        }
        .time {
          display: flex !important;
          flex-direction: column;
          text-align: center;
          justify-content: space-between;
          width: 320px;
          position: relative;
          height: 500px;
          > h1,
          .content {
            width: 100%;
            text-align: center;
            line-height: 1.3;
            p {
              font-size: 1rem;
            }
          }
          > h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50%;
          }
        }
      }

      .slick-next {
        right: -15px !important;
        z-index: 9999 !important;
        &:before {
          content: "\25BA";
          font-size: 20px;
        }
      }

      .slick-prev {
        left: -15px !important;
        z-index: 9999 !important;

        &:before {
          content: "\25C4";
          font-size: 20px;
        }
      }

      .slick-next,
      .slick-prev {
        position: absolute;
        top: calc(50% - 18px);
        color: #707070;
        font-size: 0;
        border: none;
        background: none;
        @include med-laptops {
          width: 40px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
