.brand {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
  gap: 5rem;
  padding-right: 5rem;
  .brand-detail-image {
    position: sticky;
    height: calc(100vh - 114px);
    width: 100%;
    top: 114px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .about-brand {
      background: hsla(0, 0%, 98%, 0.8);
      border-radius: 10px;
      box-shadow: 0 5px 20px 0 rgb(0 0 0 / 10%);
      padding: 2.5rem;
      margin: 2.5rem;
      .logo-brand {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        > img {
          max-height: 6rem;
          max-width: 14rem;
        }
      }
      .slogan {
        display: flex;
        justify-content: center;
        .blockquote {
          display: inline-block;
          border-radius: 50%;
          width: 300px;
          height: 300px;
          padding: 5px;
          background: #fda50f;
          color: #fff;
          text-align: center;
          line-height: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          > p {
            text-transform: uppercase;
            border-bottom: 2px solid #ffffff;
            padding-bottom: 0.5rem;
            font-weight: 600;
            width: 280px;
          }
          .location {
            display: flex;
            span {
              background: linear-gradient(90deg, #8da0cd 2%, #004280 82%);
              font-weight: 600;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              text-transform: capitalize;
              font-size: 1.25rem;
              padding: 15px;
              line-height: 1.75rem;
              font-style: italic;
              &:first-child {
                border-right: 2px solid #ffffff;
              }
            }
          }
        }
      }
    }
  }
  .brand-detail-and-about {
    padding-top: 1rem;
    > div {
      margin-bottom: 1rem;
    }
  }
  .brand-detail-text {
    font-size: 1.5rem;
  }
}

.brand-first-child,
.brand-second-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8rem;
  margin-top: 114px;
  min-height: calc(100vh - 114px);
  .child-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
    .brand-child-list {
      margin-bottom: 2rem;
      > p {
        display: flex;
        justify-content: space-between;
      }
      .image-wrapper {
        height: 14rem;
        border: 1px solid #bdcae4;
        background-color: #e8ecf5;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        > img {
          object-fit: contain;
          object-position: center;
          width: 100%;
          height: 100%;
        }
        .blue-circle {
          background: #4f74b2;
          padding: 30px;
          border-radius: 50%;
          .anticon {
            color: #ffffff;
            font-size: 40px;
          }
          &:hover {
            .anticon {
              font-size: 50px;
            }
          }
        }
      }
    }
  }
}
