.brand {
  height: auto;
  .brand-banner {
    width: 100%;
    position: relative;
    height: 450px;
    background-position: center;
    background-size: cover;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
      background-image: linear-gradient(
        to bottom,
        rgba(0, 51, 141, 0),
        #00498e
      );
    }

    .banner-content-wrapper {
      margin: 0 auto;
      max-width: 1200px;
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 99;
      > h1 {
        color: #fff;
        font-size: 4rem;
        margin-left: 10px;
      }
    }
  }
  .second-level-wrapper {
    width: 100%;
    background-color: #00498e;
    float: left;

    .container {
      ul {
        list-style: none;
        list-style-position: outside;
        list-style-type: none;
        li {
          float: left;
          position: relative;
          padding: 9px 16px 9px 10px;
          span {
            line-height: normal;
            letter-spacing: 0.64px;
            color: #fff;
            font-size: 1.4rem;
            font-weight: 600;
          }
        }
      }
    }
  }

  .about-brand {
    padding: 60px 0 60px 0;
    background: #00498e;
    border-bottom-left-radius: 50% 8%;
    border-bottom-right-radius: 50% 8%;
    .container {
      .intro-content {
        width: 100%;
        justify-content: center;
        h1 {
          font-size: 37px;
          color: #fff;
          margin-bottom: 23px;
          text-align: center;
          letter-spacing: 0.64px;
          font-weight: 700;
        }

        p {
          color: #fff;
          font-size: 1.5rem;
          line-height: 1.5;
          padding-bottom: 30px;
          span {
            font-size: 1.5rem;
            font-weight: 500 !important;
          }
        }
      }
    }
  }

  .detail-brand {
    padding: 60px 0;
    .container {
      .details {
        width: 100%;
        justify-content: center;
        color: #141f48;
        .detail-text-title {
          font-size: 37px;
        }
        .detail-text-ul {
          ul {
            li {
              margin-bottom: 0;
              list-style: disc;
            }
          }
        }
      }
    }
  }

  .cert-brand {
    padding: 0 0 60px 0;
    .container {
      .cert {
        width: 100%;
        justify-content: center;
        > div {
          height: max-content;
        }
      }
    }
  }
}

.brand-details {
  padding: 0 8rem 60px 8rem;
  .blue-title {
    display: flex;
    justify-content: space-between;
    .download {
      position: relative;
      color: #00498e;
      .tooltip {
        visibility: hidden;
        position: absolute;
        right: 120%;
        font-size: 0.875rem;
        width: max-content;
        background: #00498e;
        color: #fff;
        padding: 3px;
        border-radius: 3px;
      }

      &:hover {
        .tooltip {
          visibility: visible;
        }
      }
    }
  }
  .brochures {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
    @include tablets {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include max-phone {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}
