.career-culture {
  height: calc(100vh - 114px);
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .gold-title {
    margin-bottom: 10px;
    line-height: normal;
    font-size: 1.5rem;
  }
  .sub-title {
    margin-bottom: 2rem;
  }
  .big-cards-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2.5rem;
    .big-card {
      border-radius: 10px;
      box-shadow: 0 5px 12px 0 rgba(0 0 0 / 10%);
      background-color: #ffffff;
      position: relative;
      max-width: 350px;
      .big-card-image {
        background-color: #edf2f7;
        display: flex;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        justify-content: center;
        align-items: center;
        > div {
          width: 200px;
          height: 200px;
          margin: 40px 0;
          > img {
            object-fit: contain;
          }
        }
      }
      .big-card-text {
        padding: 20px;
        .blue-title {
          font-size: 1.125rem;
        }
        p {
          ul {
            list-style: disc;
            padding-left: 20px;
            li {
              margin-bottom: 0;
              font-size: 1rem;
              line-height: 1.25rem;
            }
          }
        }
      }

      &:hover {
        cursor: pointer;
        box-shadow: 0 5px 12px 0 rgba(0 0 0 / 20%);
      }
    }
  }
}

.culture {
  height: calc(100vh - 114px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
}

.benefits,
.tourOffice {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  height: calc(100vh - 114px);
}

.tourOffice {
  .long-half-image {
    height: 100%;
    .itemDetailsImages {
      position: relative;
      height: 100%;
      .bigSlide {
        height: 100%;
        div {
          height: 100%;
        }
      }
      .thumbnailSlide {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        .slick-list {
          height: 10rem;
          @include med-laptops {
            height: 5rem;
          }
          div {
            height: 100%;
            img {
              height: 100%;
            }
          }
        }

        .slick-next {
          right: 0 !important;
          z-index: 9999 !important;
          &:before {
            content: "\25BA";
            font-size: 20px;
          }
        }
        .slick-prev {
          left: 0 !important;
          z-index: 9999 !important;

          &:before {
            content: "\25C4";
            font-size: 20px;
          }
        }

        .slick-next,
        .slick-prev {
          position: absolute;
          bottom: 0;
          height: 100%;
          color: #ffffff;
          background: rgba(0, 0, 0, 0.3) !important;
          width: 60px;
          font-size: 0;
          border: none;
          @include med-laptops {
            width: 40px;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.open-vacancy {
  display: grid;
  grid-template-columns: 3fr 2fr;
  height: calc(100vh - 114px);
  .long-half-text {
    .vacancy-posts {
      height: 250px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 2rem;
      position: relative;
      .vacancy-text {
        position: absolute;
        color: #ffffff;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 40px;
        opacity: 0.9;
        background: linear-gradient(transparent, #222);
      }
    }
  }
}

.selection-process {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  height: calc(100vh - 114px);
  .long-half-text {
    .gold-title {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
    .process {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 3rem;
      .process-part {
        &:last-child {
          display: none;
        }
        > h1 {
          background: linear-gradient(90deg, #8da0cd 1%, #004280 82%);
          font-weight: 600;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 4rem;
          font-family: Nunito, sans-serif;
          line-height: 1.5;
        }
        > h2 {
          font-weight: 600;
          font-size: 1rem;
        }
        > p {
          line-height: 1.5;
          font-size: 0.875rem;
        }
      }
    }
  }
}

.faqs {
  padding: 0 8rem;
  height: calc(100vh - 114px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  .gold-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  .sub-title {
    font-size: 3rem;
    font-weight: 500;
  }
  .collapse {
    .ant-collapse-content {
      p {
        color: gray;
      }
    }
    p {
      font-size: 1rem;
    }
  }
}
