.career-culture {
  height: calc(100vh - 114px);
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .gold-title {
    margin-bottom: 1rem;
  }
  .sub-title {
    margin-bottom: 2rem;
  }
  .big-cards-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2.5rem;
    .big-card {
      border-radius: 10px;
      box-shadow: 0 5px 12px 0 rgba(0 0 0 / 10%);
      background-color: #ffffff;
      .big-card-image {
        background-color: #edf2f7;
        padding: 30px 60px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        > img {
          object-fit: contain;
          object-position: center;
          height: 250px;
        }
      }
      .big-card-text {
        padding: 20px 30px;
        ul {
          margin-bottom: 0.5rem;
          li {
            list-style: inside;
            font-size: 1.5rem;
            margin-bottom: 0;
          }
        }
      }
      &:hover {
        cursor: pointer;
        box-shadow: 0 5px 12px 0 rgba(0 0 0 / 20%);
      }
    }
  }
}

.why-mms {
  .culture {
    height: calc(100vh - 114px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
  }
}

.benefits,
.tourOffice {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-top: 114px;
}

.tourOffice {
  margin-bottom: 114px;
}

.open-vacancy {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-bottom: 114px;
  .long-half-text {
    .vacancy-posts {
      height: 300px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 2rem;
      position: relative;
      .vacancy-text {
        position: absolute;
        color: #ffffff;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 40px;
        opacity: 0.9;
        background: linear-gradient(transparent, #222);
      }
    }
  }
}

.selection-process {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-bottom: 114px;
  .long-half-text {
    .process {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 3rem;
      .process-part {
        &:last-child {
          display: none;
        }
        > h1 {
          background: linear-gradient(90deg, #8da0cd 1%, #004280 82%);
          font-weight: 600;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 4rem;
          font-family: Nunito, sans-serif;
          line-height: 1.5;
        }
        > h2 {
          font-weight: 600;
          font-size: 1.25rem;
        }
        > p {
          line-height: 1.75;
          font-size: 1rem;
        }
      }
    }
  }
}

.faqs {
  padding: 0 8rem;
  height: calc(100vh - 114px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  .collapse {
    p {
      font-size: 1.25rem;
    }
    .collapse-head {
      padding: 16px;
      color: rgba(0, 0, 0, 0.85);
      line-height: normal;
      cursor: pointer;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      background-color: rgb(243, 243, 243);
      border: 1px solid #d9d9d9;
      display: flex;
      align-items: center;
      > span {
        font-size: 0.8rem;
        margin-right: 20px;
      }
    }
    .collapse-hidden {
      padding: 15px;
      border: 1px solid #d9d9d9;
    }
  }
}
