.homeSlider {
  height: calc(100vh - 132px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  .sliderText {
    > h1 {
      font-size: 64px;
      line-height: normal;
    }
    > h2 {
      font-weight: 500;
    }
  }
}
// home capabilitiy
.homeCapability {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  height: calc(100vh - 132px);
  .capability-home-text {
    display: flex;
    align-items: center;
    padding: 0 5rem;
    > div {
      > div {
        margin-bottom: 20px;
      }
    }
  }
}

// home industry
.homeIndustries {
  height: calc(100vh - 132px);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  .industry-button {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 5rem 0 0 5rem;
    > div {
      margin-bottom: 2rem;
    }
    .big-buttons {
      font-size: 5rem;
      color: rgba(0, 0, 0, 0.7);
      font-weight: 700;
      width: max-content;
      line-height: normal;
      &:hover {
        color: #00488d;
        cursor: pointer;
      }
    }
    .read-more-button {
      margin-top: 4rem !important;
    }
  }
}
// home brands
.homeBrands {
  height: calc(100vh - 132px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .brandList {
    width: 100%;
    padding: 0 5rem;
    .brand-logo {
      width: 180px;
      height: 50px;
      > img {
        object-fit: contain;
        object-position: left;
      }
    }
    .brand-image {
      height: 230px;
      max-width: 400px;
    }
  }
}
