.homeSlider {
  height: calc(100vh - 114px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  position: relative;

  .sliderText {
    width: 100%;
    > h1 {
      font-size: 80px;
      line-height: normal;
      margin-bottom: 20px;
      font-weight: 600;
    }
    > h2 {
      font-weight: 500;
      font-size: 1.5rem;
    }
  }
}

// home capabilitiy
.homeCapability {
  height: calc(100vh - 114px);

  .capability-home-text {
    display: flex;
    align-items: center;
    padding: 0 8rem;

    > div {
      > div {
        margin-bottom: 20px;
      }
    }
  }
}

// home industry
.homeIndustries {
  height: calc(100vh - 114px);

  .industry-button {
    padding: 2rem 0 0 8rem;
    position: relative;

    .big-buttons {
      font-size: 5rem;
      font-weight: 700;
      width: max-content;
      line-height: normal;
      cursor: pointer;
      margin-bottom: 2rem;

      span {
        margin-left: 20px;
      }
    }

    .read-more-button {
      margin-top: 3rem;
    }
  }
}

// home brands
.homeBrands {
  height: calc(100vh - 114px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .gold-title {
    margin-bottom: 5px;
  }
  .sub-title {
    margin-bottom: 30px;
  }

  .brandList,
  .brandsList {
    width: 100%;

    .slick-slide {
      max-width: 440px !important;
    }

    .brand-logo {
      width: 16rem;
      height: 4rem;
      > img {
        object-fit: contain;
        object-position: left;
      }
    }

    .brand-image {
      height: 14rem;
      max-width: 420px;
    }
  }
  .brandList {
    padding: 0 5rem 0 10rem;
  }
  .brandsList {
    padding: 0 8rem;
  }
}
