.newsList {
  .sub-title {
    text-align: center;
    margin: 30px 0 10px 0;
  }
}

.newsRelated {
  padding: 30px 0 80px 0;
  background-color: hsla(0, 0%, 94.1%, 0.6);
  .container {
    .blue-title {
      margin-bottom: 20px;
    }
  }
}

.news-detail {
  .container {
    .news-tag {
      margin: 20px 0;
    }

    .news-image {
      position: relative;
      width: 100%;
      height: 500px;
      @include med-laptops {
        height: 300px;
      }
    }

    .blue-title {
      margin: 20px 0;
    }

    .news-content {
      position: relative;
      p {
        font-size: 1rem;
        @include med-laptops {
          font-size: 14px;
        }
      }
    }
  }
}
