footer {
  height: calc(100vh - 114px);
  background-color: #262626;
  color: #fff;
  padding: 0 12rem;
  display: flex;
  align-items: center;
  .footer {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 5rem;
    p {
      margin-bottom: 1rem;
    }
    > div {
      > p:first-child {
        font-weight: 800;
        margin-bottom: 2rem;
      }
    }

    .contacts {
      > p:last-child {
        margin-top: 5rem;
        cursor: pointer;
        > a {
          display: inline-block;
          cursor: pointer;
          margin-right: 20px;
          padding: 20px;
          line-height: 0;
          border-radius: 50%;
          color: #fff;
          &:hover {
            background-color: #fff;
            color: #262626;
          }
        }
      }
    }

    .contactUs {
      > div {
        position: relative;
        margin: 0 0 2rem 0;
      }
      input,
      textArea {
        width: 100%;
        padding: 12px 20px;
        background: 0 0;
        display: inline-block;
        border: 1px solid #e4e4e4;
        box-sizing: border-box;
        color: #e4e4e4;
        font-size: 1rem;
      }
      input {
        height: 4rem;
        &:last-child {
          cursor: pointer;
        }
      }
      textArea {
        height: 12rem;
      }
      label {
        position: absolute;
        left: 26px;
        top: -15px;
        background: #262626;
        padding: 0 1rem;
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }
}
