.main-header {
  border-bottom: 2px solid #e2e8f0;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  z-index: 999;
  background-color: #fff;
  justify-content: space-between;

  .logo {
    width: 6rem;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
  }

  .menus {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .topMenu {
      .topMenuList {
        margin-left: auto;
      }

      a {
        border-right: 1px solid #00498e;
        font-weight: 400;
        font-size: 0.875rem;

        &:last-child {
          border: none;
        }
      }

      .topMenuLanguage {
        margin-left: 20px;

        a {
          border: 0;
          padding: 0;
          color: #444;
        }

        > span {
          margin: 0 10px;
        }

        .text-menuTextColor {
          color: rgb(0, 72, 141);
        }
      }
    }

    > div {
      display: flex;

      .botMenuList {
        border-right: 1px solid #00498e;
      }

      a {
        padding: 0 1rem;
        font-weight: 600;
        color: #00498e;
        font-size: 1rem;

        &:hover {
          color: #5d7db8;
        }
        &:active {
          color: #096dd9;
        }
      }
    }

    .burger {
      margin-left: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      cursor: pointer;
      border: none;
      box-sizing: border-box;
      color: #00498e;
      font-size: 1.5rem;
    }
  }
}

.side-drawer {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background: rgb(0, 72, 141);
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  max-width: 480px;
  a {
    color: #fff;
    font-weight: 300;
    padding: 0 1rem;
    font-size: 1rem;
  }

  .topMenuList {
    margin-top: 10px;
    a {
      border-right: 1px solid #fff;
      font-weight: bold;
      font-size: 0.8rem;
      &:last-child {
        border: none;
      }
    }
  }

  .sideDrawerLanguage {
    a {
      font-size: 0.8rem;
    }

    span {
      color: #fff;
    }
  }

  .topMenuLanguage {
    display: none;
  }

  .SideMenu {
    .SideMenuList {
      display: flex;
      flex-direction: column;
      a {
        width: max-content;
        font-size: 0.8rem;
        font-weight: 100;
        opacity: 0.5;
        line-height: 1.5;
        &:hover {
          opacity: 1;
        }
      }
      .titleMenu {
        margin-top: 10px;
        font-weight: 700;
        opacity: 1;
      }
    }

    .closeButton {
      position: absolute;
      top: 24px;
      right: 24px;
      color: #fff;
      cursor: pointer;
      font-weight: bold;
      background-color: rgb(0, 72, 141);
      border-color: rgb(0, 72, 141);
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 999;
}
