@media only screen and (max-width: 1599px) {
  .main-header {
    height: 95px;
  }
  .homeSlider {
    height: calc(100vh - 113px);
  }
  .homeCapability {
    height: calc(100vh - 113px);
  }
  .homeIndustries {
    height: calc(100vh - 113px);
    .industry-button {
      padding: 0.5rem 0 0 5rem;
      > div {
        margin-bottom: 1.5rem;
      }
      .big-buttons {
        font-size: 3.5rem;
      }
      .read-more-button {
        margin-top: 2rem !important;
      }
    }
  }
  footer {
    height: calc(100vh - 113px);
  }

  .half-back-image-with-text {
    &:hover {
      .overlayText {
        transform: translateY(-25%);
      }
    }
  }
  .page {
    margin-top: 113px;
  }
}

@media only screen and (max-width: 1199px) {
  .homeSlider {
    padding: 0 3rem;
    .sliderText {
      > h1 {
        font-size: 3rem;
      }
    }
  }
  .homeCapability {
    .capability-home-text {
      padding: 0 3rem;
    }
  }

  .homeIndustries {
    height: calc(100vh - 113px);
    .industry-button {
      padding: 0.5rem 0 0 3rem;
      > div {
        margin-bottom: 1rem;
      }
      .big-buttons {
        font-size: 3rem;
      }
      .read-more-button {
        margin-top: 1.75rem !important;
      }
    }
  }

  .half-back-image-with-text {
    &:hover {
      .overlayText {
        transform: translateY(-5%);
      }
    }
  }

  .read-more-button {
    padding: 0.5rem 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  .gold-title {
    font-size: 1.25rem;
  }

  footer {
    padding: 0 3rem;
    .footer {
      gap: 1rem;
      .contactUs {
        input {
          height: 50px;
        }
        textArea {
          height: 8rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .section {
    height: max-content !important;
    .fp-tableCell {
      height: max-content !important;
    }
  }

  .homeCapability {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    .capability-home-text {
      padding: 2rem;
    }
  }
  .homeIndustries {
    height: auto;
    display: flex;
    flex-direction: column;
    .industry-button {
      padding: 2rem;
      > div {
        margin-bottom: 1rem;
      }
      .big-buttons {
        font-size: 3rem;
      }
      .read-more-button {
        margin-top: 1rem !important;
      }
    }
  }

  .half-back-image-with-text {
    height: 500px;
  }

  .main-header {
    height: 70px;
    .menus {
      display: flex;
      justify-content: center;
      .topMenuList,
      .botMenuList {
        display: none;
      }
      .burger {
        height: 40px;
        width: 40px;
        .burger-line {
          height: 4px;
        }
      }
    }
  }

  .page {
    margin-top: 88px;
  }

  footer {
    height: auto;
    padding: 2rem;
    .footer {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      .contacts {
        > h2:last-child {
          margin-top: 2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 575px) {
  footer {
    padding: 1rem;
  }
  .homeSlider {
    padding: 0 1rem;
    height: 400px;
    .sliderText {
      > h1 {
        font-size: 2.25rem;
      }
    }
  }
  .homeCapability {
    .capability-home-text {
      padding: 1rem;
    }
  }
  .homeIndustries {
    height: auto;
    display: flex;
    flex-direction: column;
    .industry-button {
      padding: 1rem;
      > div {
        margin-bottom: 1rem;
      }
      .big-buttons {
        font-size: 2.25rem;
      }
      .read-more-button {
        margin-top: 1rem !important;
      }
    }
  }
  .half-back-image-with-text {
    height: 600px;
  }
  .overlayText {
    margin: 0 1rem;
  }
}
